/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

/* GENERAL SETTINGS */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
    font-family: 'Bree Serif', serif;
    font-size: 1.3em;
}

main {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#testoAlternato {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid gray;
    line-height: 1.5;
    padding: 1.2em;
    width: 400px;
}

.parole {
    position: relative;
}

i {
    position: absolute;
    left: 5px;
    color:rgb(102, 131, 141);
    opacity: 0;
    white-space: nowrap;
}

/* ANIMATIONS */

@keyframes cycle {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }

    50% {
        opacity: 100;
        transform: translateY(0);
    }
    
    100% {
        opacity: 0;
        transform: translateY(-35px);
    }
}

.cycle1 {
    animation: cycle 6s ease-in-out 0s infinite;
}

.cycle2 {
    animation: cycle 6s ease-in-out 2s infinite;
}

.cycle3 {
    animation: cycle 6s ease-in-out 4s infinite;
}